Django==4.0.8
psycopg2-binary==2.8.6
redis==4.3.4
channels[daphne]==4.0.0
channels_redis==4.0.0
daphne==4.0.0
django-debug-toolbar
django-admin-interface==0.20.0
django-extra-settings==0.6.1
selenium 