{% extends "base.html" %}

{% block title %}
    {{block.super}}
{% endblock title %}

{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">

            <!-- Connect inputs -->
            <div class="col-12 col-md-6">
                <div class=" a-important lead">Input the name of the room to connect</div>
                <div class=" mt-3">
                    <div class="input-group">
                        <input id="user-name-input" class="form-control" type="text" placeholder="Username" aria-label="username">
                    </div>
                </div>
                <div class="input-group mt-3">
                    <button id="room-name-submit" class="btn btn-outline-success" type="button">Connect</button>
                    <input id="room-name-input" type="text" class="form-control" placeholder="Room name" aria-label="Room name" aria-describedby="room-name-submit" size="100">
                </div>
            </div>

            <!-- Rooms list -->
            <div class="col-12 col-md-6 mt-4 mt-md-0">
                {% if room_list %}
                    <div class=" a-important lead">List of the rooms</div>
                    <ul class="list-group mt-3">
                        {% for room_name, value in room_list.items %}
                            <li class="list-group-item a-important">
                                <i class="bi bi-caret-right me-2"></i>
                                Room: {{room_name}}
                                <span class="ms-4" >{{value.users_amount}}/2</span>
                                <a class="float-end text-reset uk-button-text" link="/chat/{{room_name}}/" id="room-connect-submit" >Connect</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class=" a-important lead">No created rooms for now...</div>
                {% endif %}
            </div>  

        </div>
    </div>

    <script src="{% static 'js/index_page_script.js' %}"></script>
{% endblock content %}