{% extends "base.html" %}

{% block title %}
    {{block.super}} | Комната {{room_name}}
{% endblock title %}

{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">

            <!-- Video chat -->
            <div class="col-8 row">

                <!-- localVideo -->
                <div class="col-6">
                    <video id="localVideo" autoplay playsinline uk-video></video>

                    <div class="col-6 mt-3">
						<button class="btn btn-primary btn-sm" id="startButton">Start</button>
						<button class="btn btn-success btn-sm" id="callButton">Call</button>
						<button class="btn btn-danger btn-sm" id="hangupButton">Hang Up</button>
					</div>
                </div>

                <!-- remoteVideo -->
                <div class="col-6">
                    <video id="remoteVideo" autoplay playsinline uk-video class="col-12"></video>
                </div>
            </div>

            <!-- Text chat -->
            <div class="col-4">
                <textarea id="chat-log" cols="100" rows="20" class="form-control" readonly></textarea><br>

                <input id="chat-message-input" type="text" class="form-control" size="100"><br>
                <input id="chat-message-submit" type="button" class="btn btn-dark" value="Send">
            </div>
        </div>
    </div>

    {{ room_name|json_script:"room-name" }}
    <script src="{% static 'js/room_page_script.js' %}"></script>
    <script src="{% static 'js/cam_script.js' %}"></script>
{% endblock content %}