{% extends "base.html" %}

{% block title %}
    {{block.super}} | Комната {{room_name}}
{% endblock title %}

{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">

            <!-- Video chat -->
            <div class="col-12 col-md-8">

                <div class="row">

                    <!-- localVideo -->
                    <div class="col-12 col-md-6">
                        <div id="localVideoPlaceholder" class="placeholder-wave" style="aspect-ratio: 4/3;" >
                            <span class="placeholder col-12 h-100 rounded-3"></span>
                        </div>
                        <!-- <video id="localVideo" autoplay playsinline uk-video class="rounded-3"></video> -->
                    </div>

                    <!-- remoteVideo -->
                    <div class="col-12 col-md-6 mt-2 mt-md-0">
                        <div id="remoteVideoPlaceholder" class="placeholder-wave" style="aspect-ratio: 4/3;">
                            <span class="placeholder bg-secondary col-12 h-100 rounded-3"></span>
                        </div>
                        <!-- <video id="remoteVideo" autoplay playsinline uk-video class="col-12 rounded-3"></video> -->
                    </div>
                </div>

                <!-- Buttons -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="col-9 mt-3">
                            <div class="mb-2 lead">Video: </div>
                            <select id="camera-select-input" class="form-select form-select-sm"></select>
                        </div>
                        <div class="my-3">
                            <button class="btn btn-primary border-dark" id="startButton" 
                            uk-tooltip="title: Enable your camera; delay: 300">
                                <i class="bi bi-webcam fs-4"></i>
                            </button>
                            <button class="btn btn-success border-dark ms-2" id="callButton" 
                            uk-tooltip="title: Start call; delay: 300">
                                <i class="bi bi-telephone-outbound fs-4"></i>
                            </button>
                            <button class="btn btn-danger border-dark ms-2" id="hangupButton"
                            uk-tooltip="title: Hangup; delay: 300">
                                <i class="bi bi-telephone-x-fill fs-4"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Text chat -->
            <div class="col-12 col-md-4">
                <textarea id="chat-log" cols="100" rows="20" class="form-control" readonly></textarea><br>

                <input id="chat-message-input" type="text" class="form-control" size="100"><br>
                <input id="chat-message-submit" type="button" class="btn btn-outline-dark" value="Send">
            </div>
        </div>
    </div>

    {{ room_name|json_script:"room-name" }}
    <script src="{% static 'js/room_page_script.js' %}"></script>
    <script src="{% static 'js/cam_script.js' %}"></script>
{% endblock content %}